<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
    {{>bootstrap}}
   
    <title>\m/ - Results</title>
</head>
<body>
    {{>nav}}
    <div class="container">
        <div class="row">
        </div>
        <div class="row">
            <h3>Search Results</h3>
        </div>
        <div class="row">
            {{{results}}}
        </div>
    </div>

    
</body>
</html>