<footer>
  <!-- Copyright -->
  <br><br><br><br><br>
  <div style="margin-bottom: 75px" class="footer text-center navbar-fixed-bottom">
    <a href="/">\m/ - 2019</a>
  </div>  
  <!-- Copyright -->
</footer>